header{
    background-image: url(./https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRCpFaes83v6mllSwQ2-NFI7VonMIEwtqjdw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
    animation: bg 3s infinite;
}
.child1 img{
    margin-left: 500px;
}  
@keyframes bg{
    100%{filter: hue-rotate(360deg);}
} 

h1{
    margin-left: 400px;
   padding-top: 600px;
}
@import url('./https://fonts.googleapis.com/css?family=Cairo');
body {
  background-color: #010;
}

.title1 {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  letter-spacing: 1px;
  line-height:2;
}

h1 {
  background-image: url(./https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;
  margin-top: 550px;
}

.container{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-bottom: 1500px;
}
.tabs{
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
    padding: 0.75rem;
    border-radius: 99px; 
    *{
        z-index: 2;
    }
}
.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}
.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color:  var(--secondary-color);
    transition: 0.15s ease-in;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]{
    &:checked{
        & + label{
            color: var(--primary-color);
            & > .notification{
              background-color: var(--primary-color);
              color: #fff;
            }
        }
    }
}
input [id="radio-1"]{
    &:checked{
        & ~ .glider {
            transform: translateX(0);
        }
    }

}
input [id="radio-2"]{
    &:checked {
        & ~ .glider{
            transform: translateX(100%);
        }
    }
}
input [id="radio-3"]{
    &:checked {
        & ~ .glider{
            transform: translateX(200%);
        }
    }
}
input [id="radio-4"]{
    &:checked {
        & ~ .glider{
            transform: translateX(300%);
        }
    }
}
.glider{
    position: absolute;
    display: flex;
    height: 54px;
    width: 200px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25 ease-out;
}
@media (max-width: 700px) {
    .tabs{
        transform: scale(0.6);
    }
}

.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}
.hover07 img{
    height: 200px;
    width: 180px;
   
}
.hover07{
    display: flex;
    justify-content: space-evenly;
}
.hover07 span{
    color: aliceblue;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.hover07 img{
    border-radius: 25% 10%;
}
.hover07{
    margin-top: 100px;
}
a {
    color: #fff;
    text-decoration: none;
  }
  .me {
    width: 400px;
    margin: 90px auto;
  }
  .me p,
  .me h1 {
    letter-spacing: 3px;
    text-align: center;
  }
  .me p {
    font-weight: 200;
  }
  .me span {
    font-weight: bold;
  }
  .social {
    position: fixed;
    top: 20px;
  }
  .social ul {
    padding: 0px;
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  .social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #000;
  }
  .social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg);
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    transform: rotate(0deg);
  }
  
  /* body {
   
    font-family: 'Raleway', sans-serif;
  } */
.search {
    /* display: inline-flex; */
    align-items: center;
    background: linear-gradient(194deg, #440bbf, #bc2fc9);
    color: #fff;
    padding: 15px;
    border-radius: 40px;
    
}
.search :is(input, button) {
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
}
.search__input {
    width: 0;
    transition: width .5s;
}
.search__button {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color .25s;
}
.search__button :hover{
    color: #e3e3e3;
}
.search:focus-within input{
    width: 180px;
}
@import url(./'https://fonts.googleapis.com/css?family=Cairo');
body {
  background-color: #010;
}

.title {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  letter-spacing: 1px;
  line-height:2;
  margin-top: 80px;
}

h2 {
   background-image: url(./https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); 
  /* background-size: cover; */
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 90px;
  margin: 10px 0;
}
.btn {
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.btn:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */
/* .btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
} */


/* Button 2 */
.btn-2 {
  background: #2ecc71;
  color: #fff;
}

.btn-2:hover {
  background: #27ae60;
}

.btn-2:active {
  background: #27ae60;
  top: 2px;
}

.btn-2:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  /* width: 60px; */
}

span{
  font-family: sans-serif;
  color: rgb(148, 148, 101);
}

